langchain
python-dotenv
langchain_community
langchain_core
langchain-groq
langchain-text-splitters
langchain_huggingface
pypdf
faiss-cpu
google-generativeai
PyPDF2
langchain_google_genai

